* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cursed Timer ULiL', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #FFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.7rem;
}

p {
    background: black;
    padding: .3em .5em;
    color: red;
    font-size: 4rem;
}

button {
    background: none;
    border: 2px solid #9AABD8;
    border-radius: 8px;
    padding: .6em;
    color: #9AABD8;
    cursor: pointer;
}

button:hover {
    background: #9AABD8;
    color: #1B244A; 
}

.scoreboard {
    width: 575px;
    height: 375px;
    background: #1B244A;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}

.result-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 7em;
}

.home-team,
.away-team{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

#reset-btn{
    padding: .8em;
    cursor: pointer;
}


/*Media query*/

/* Smartfony - do 600px */
@media (max-width: 600px) {

    .scoreboard {
        width: 350px;
        margin: 0 auto;
        height: fit-content;
    }

    h1 {
        font-size: 1.8rem;
    }

    p {
        font-size: 2.5rem;
        padding: 0.2em 0.4em;
    }

    .result-section {
        flex-direction: column;
        gap: 1em;
        padding-bottom: 1em;
    }

    .home-team,
    .away-team {
        gap: 1em;
    }

    button {
        padding: 0.5em;
        font-size: 0.9rem;
    }
}

/* Tablety - od 601px do 1024px */
@media (min-width: 601px) and (max-width: 1024px) {
    .scoreboard {
        width: 80%;
        height: auto;
        padding: 1em;
    }

    h1 {
        font-size: 2.2rem;
    }

    p {
        font-size: 3rem;
    }

    .result-section {
        gap: 4em;
        padding-bottom: 1em;
    }

    button {
        padding: 0.6em;
        font-size: 1rem;
    }
}

/* Duże ekrany - powyżej 1025px */
@media (min-width: 1025px) {
    .scoreboard {
        width: 575px;
        height: 375px;
    }

    h1 {
        font-size: 2.7rem;
    }

    p {
        font-size: 4rem;
    }

    .result-section {
        gap: 7em;
    }

    button {
        padding: 0.6em;
        font-size: 1rem;
    }
}
