* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cursed Timer ULiL', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #FFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.7rem;
}

p {
    background: black;
    padding: .3em .5em;
    color: red;
    font-size: 4rem;
}

button {
    background: none;
    border: 2px solid #9AABD8;
    border-radius: 8px;
    padding: .6em;
    color: #9AABD8;
    cursor: pointer;
}

button:hover {
    background: #9AABD8;
    color: #1B244A; 
}

.scoreboard {
    width: 575px;
    height: 375px;
    background: #1B244A;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}

.result-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 7em;
}

.home-team,
.away-team{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

#reset-btn{
    padding: .8em;
    cursor: pointer;
}